<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearchSpatial>
      <IncludeTemplates>
        <!-- * Include your location template details, like template id, latitude field name and longitude field name
             * You can include multiple templates 
        -->
        <!--<Template id="{TEMPLATE ID}" LatitudeField="[Latitude Field Name]" LongitudeField="[Longitude Field Name]"></Template>-->
      </IncludeTemplates>
    </contentSearchSpatial>
	<contentSearch>
	  <indexConfigurations>
		<spatialLuceneIndexConfiguration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration"  type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
		  <documentBuilderType>Sitecore.ContentSearch.Spatial.Indexing.LuceneSpatialDocumentBuilder, Sitecore.ContentSearch.Spatial</documentBuilderType>
		</spatialLuceneIndexConfiguration>
	  </indexConfigurations>
	</contentSearch>
  </sitecore>
</configuration>